<template>
    <div>
        <p class="h2">
            Login from component rendered successfully!
        </p>
    </div>
</template>

<script>
    import settings from '../../../common/settings'
    import cookies from '../../../common/cookies'

    export default {
        name: 'loginForm',
        data() {
            return {
                tenant: settings.tenantId
            }
        },
        methods: {},
        computed: {},
        mounted () {
            //example how to set cookies
            // cookie name must exist in allowed cookie list in '/src/scripts/common/cookies.js' lib
            cookies.set('testCookieForExamplePurposes', 'testCookieSetWithExampleValue')
        }
    }
</script>
<style scoped>

</style>