<template>
    <div>
        <section class="light">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="h2 mb-sm mt-none text-bold">{{$t('exampleTitleFromTranslationObject')}}</p>
                        <p class="mb-none text-bold">{{$t('testViewCustomTranslation')}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info">
                            <p>TenantId for current project (taken from '/common/settings.js'): {{tenant}}</p>
                            <p>Value injected from outside of the component: {{injectedValue}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    import settings from '../../../common/settings'

    export default {
        name: 'rccAccount',
        inject: ['provideSomeOption'],
        data() {
            return {
                tenant: settings.tenantId,
                injectedValue: this.provideSomeOption
            }
        },
        methods: {},
        computed: {}
    }
</script>
<style scoped>
    .alert-info {
        margin-bottom: 50px;
    }
</style>